@import 'shared';

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0);
}

:focus {
  outline-color: $blue;
}

::-webkit-scrollbar-thumb
{
  background: $blue_light;
  border-radius: 99px;

  &:hover {
    background: $blue;
  }
}

body {
  background-color: $g0;
}

.Button {
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0;

  &:focus {
    // WARNING: make sure to add focus styling for a11y!
    outline: none;
    color: $blue_dark;
  }

  &:disabled {
    color: $g3;
    border-color: $g3;
    cursor: initial;
  }

  &__close {
    color: $blue;
    font-weight: bold;
    border-radius: 5px;
    padding: .5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: white;
    z-index: 1;

    &:hover {
      color: $blue_dark;
    }
  }
}

.Filter {
  ul {
    overflow-x: hidden;
  }
}

.FilterBar {
  position: fixed;
  border-right: solid 1px $g2;
  transition: .2s all;
  padding: 0;
  z-index: 1;
  background-color: white;
  width: $filter-bar-width;
  padding: 1rem;
  left: 0;
  top: $navbar-height;
  bottom: 0;
  overflow: hidden;

  &__visible {
    opacity: 1;
  }

  &__hidden {
    opacity: 0;
    left: -$filter-bar-width;
    visibility: hidden;
  }
}

.Home {
  &__wrapper {
    padding: 1rem;
    padding-top: 0;
    max-width: $result-width;
    margin: auto;
  }

  &__header {
    color: $blue;
  }

  h2 {
    color: $g4;
    margin-bottom: .5rem;
  }

  p {
    margin-top: 0;
    font-size: 1em;
    line-height: 1.5rem;
  }

  a {
    text-decoration: none;
    color: $blue;
  }

  a:hover{
    text-decoration: underline;
  }

  a:visited {
    color: $blue_dark;
  }
}

.Logo, .NavBar__link {
  font-weight: bold;
  color: $blue;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 0;
  margin-right: 1rem;
}

.NavBar__link {
  @media only screen and (max-width: 450px) {
    display: none;
  }
}

.NavBar__link:hover {
  color: $blue_dark;
}

.Logo {
  color: $blue;
  transition: .5s font-size;
  font-size: 2rem;

  .SearchRoute--search & {
    font-size: 1rem;
  }

  &__first {
    color: $blue_dark;
  }
}

.NavBar {
  border-bottom: solid 1px $g2;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  transition: .5s all;
  height: $navbar-height-big;

  .SearchRoute--search & {
    height: $navbar-height;
  }

  &__bottom {
    display: flex;
    max-width: $result-width;
  }

  &__top {
    max-width: $result-width;
    display: flex;
    height: 6rem;

    .SearchRoute--search & {
      height: 3rem;
    }
  }

  &__top,
  &__bottom {
    transition: .5s all;
    margin-left: calc(50% - #{$result-width / 2});
  }
}

.PDFViewer {
  position: relative;
}

.PDFViewer__handler {
  background-color: white;
  border-radius: 5px;
  width: 1.5rem;
  text-align: center;
  position: absolute;
  left: -0.45rem;
  top: 50%;
  border: solid 1px $blue;
  color: $blue;
  transition: .2s all ease-in-out;
}

.PDFViewer__resize-handle:hover .PDFViewer__handler,
.PDFViewer__handler:hover {
  background-color: $blue_light;
  border-color: $blue_light;
  color: white;
}

.PDFViewer__resize-handle:active .PDFViewer__handler,
.PDFViewer__handler:active {
  border-color: $blue;
  color: white;
  background-color: $blue;
}

.PDFViewer__button-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;

  &-inner{
    display: inline-block;
    background: white;
    margin: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .Button {
      padding: .5rem;
      color: $blue;

      &:hover {
        color: $blue_dark;
      }

      &:active {
        color: $g3;
      }

      &:disabled {
        color: $g2;
      }
    }
  }
}

.PDFViewer__loading {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s all;
  color: $blue;
}

.PDFViewer__scroller {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.PDFViewer__resize-handle {
  transition: .2s all;
  z-index: 2;

  &:hover {
    background-color: $blue_light;
  }

  &:active {
    background-color: $blue;
  }
}

.PDFViewer_number-input {
  -webkit-appearance: none;
  -moz-appearance:textfield;
  border: none;
  margin: 0;
  width: 2rem;

  &:-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
  }
}

.Results {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: scroll;
  top: $navbar-height;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  transition: .2s all;

  .SearchRoute--show-filters & {
    margin-left: $filter-bar-width;
  }

  &__loader {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.react-pdf__Document {
  border-bottom: solid 1px $g1;
  border-top: solid 1px $g1;
}

.ResourceBar {
  position: fixed;
  border-left: solid 1px $blue;
  flex: 100;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: white;

  &-enter {
    opacity: 0;
    right: -20%;
  }

  &-enter-active {
    opacity: 1;
    right: 0;
    transition: right 200ms ease-out, opacity .2s;
  }

  &-leave {
    opacity: 1;
    right: 0;
  }

  &-leave-active {
    opacity: 0;
    right: -20%;
    transition: right 200ms ease-in-out, opacity .2s;
  }
}

.ResultCard {
  background-color: white;
  max-width: $result-width;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: solid 1px $g2;

  @media only screen and (max-width: 530px) {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  h2 {
    margin-top: 0;
    margin-bottom: .2rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      color: $blue_dark;
    }

    &:active {
      color: $blue;
    }
  }

  &--active {
    border-color: $blue;

    h2 {
      color: $blue !important;
    }
  }

  &__highlight {
    margin-bottom: .3rem;
  }

  &__details{
    display: flex;
    flex-wrap: wrap;

    & .ResultCard__detail {
      display: inline;
      margin: 0;
      color: $g3;
      margin-right: 1rem;
      word-wrap: break-word;
    }
  }
}

.SearchRoute {
  transition: .5s padding-top;
  padding-top: $navbar-height-big;

  &.SearchRoute--search {
    padding-top: $navbar-height;
  }
}

.SearchBar {
  flex: 1;
  display: flex;
  max-width: $result-width;

  > div {
    flex: 1;
    display: flex;
  }

  input {
    -webkit-appearance: none;
    align-self: center;
    border-radius: 5px
  }

  // Filter show / hide button
  &__button {
    background: $g0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px $g2;
    border-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      background: $g1;
    }

    &:active {
      background: $g2;
    }
  }
  // When the filter button is hidden, round the corners
  .SearchRoute--search & input{
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}


.Wrapper {
  position: relative;
}

// Make
@media only screen and (min-width: 560px) {
  .Home__wrapper {
    padding: 0;
  }

  .SearchRoute--search {
    .NavBar__top,
    .NavBar__bottom {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .Logo {
    font-size: 1.5rem
  }
}

@media only screen and (max-width: 560px) {
  .NavBar__top,
  .NavBar__bottom {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

// Add some major padding for big screens
@media only screen and (min-width: 1800px) {
  .SearchRoute--search {
    .NavBar__top,
    .NavBar__bottom {
      margin-left: $big-screen-padding;
    }
  }

  .Results {
    margin-left: $big-screen-padding - 1rem;
  }

  .FilterBar {
    position: absolute;
    z-index: 2;
    background: white;
    bottom: 0;
    top: 0;
  }
}

// Detect touch devices
@media (pointer:coarse) {
  .PDFViewer__button-bar {
    transform: scale(1.2);
  }

  .PDFViewer__handler {
    transform: scale(1.2);
  }
}
