@import 'shared';

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0);
}

:focus {
  outline-color: $blue;
}

::-webkit-scrollbar-thumb
{
  background: $blue_light;
  border-radius: 99px;

  &:hover {
    background: $blue;
  }
}

.Button {
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  padding: 0;

  &:focus {
    // WARNING: make sure to add focus styling for a11y!
    outline: none;
    color: $blue_dark;
  }

  &:hover {
    background: white;
  }

  &:disabled {
    color: $g3;
    border-color: $g3;
    cursor: initial;
  }

  &__close {
    color: $blue;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    background-color: white;

    &:hover {
      color: $blue_dark;
    }
  }
}

.Filter {
  ul {
    overflow-x: hidden;
  }
}

.FilterBar {
  position: relative;
  border-right: solid 1px $g2;
  width: 0;
  transition: .2s all;
  padding: 0;

  &__visible {
    width: 26rem;
    padding: 1rem;
  }

  &__hidden {
    visibility: hidden;
  }
}

.Logo, .NavBar__link {
  font-weight: bold;
  color: $blue;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 0;
  margin-right: 1rem;
}

.NavBar__link:hover {
  color: $blue_dark;
}

.Logo {
  margin-left: 1rem;
  margin-right: 1rem;
  color: $blue;

  &__first {
    color: $blue_dark;
  }
}

.NavBar {
  border-bottom: solid 1px $g2;
  z-index: 1;
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;

  &__bottom {
    display: flex;
    max-width: $result-width;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__top {
    height: 3rem;
    display: flex;
  }
}

.PDFViewer__loading {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PDFViewer__resize-handle {
  transition: .2s all;

  &:hover {
    background-color: $blue_light;
  }

  &:active {
    background-color: $blue;
  }
}

.PDFViewer_number-input {
  -webkit-appearance: none;
  -moz-appearance:textfield;
  border: none;
  margin: 0;
  width: 2rem;

  &:-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
  }
}

.ResultsBar {
  background-color: $g1;

  display: flex;
  position: relative;
  flex: 1;


}

.Results {
  // flex-basis: $result-width;
  width: 100%;
  overflow: scroll;
  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (max-width: 530px) {
    padding: 0;
  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    padding-top: .8rem;
    height: 2.5rem;
    background-color: $g1;
    transition: .2s all;
    pointer-events: none;
  }
}

.react-pdf__Document {
  border-bottom: solid 1px $g1;
  border-top: solid 1px $g1;
}

.ResourceBar {
  position: fixed;
  border-left: solid 1px $blue;
  flex: 100;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: white;

  &-enter {
    opacity: 0;
    right: -20%;
  }

  &-enter-active {
    opacity: 1;
    right: 0;
    transition: right 200ms ease-in, opacity .2s;
  }

  &-leave {
    opacity: 1;
    right: 0;
  }

  &-leave-active {
    opacity: 0;
    right: -20%;
    transition: right 200ms ease-in, opacity .2s;
  }
}

.ResultCard {
  background-color: white;
  max-width: $result-width;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: solid 1px $g2;

  h2 {
    margin-top: 0;
    margin-bottom: .2rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      color: $blue_dark;
    }

    &:active {
      color: $blue;
    }
  }

  &--active {
    border-color: $blue;

    h2 {
      color: $blue !important;
    }
  }

  &__details{
    display: flex;
    flex-wrap: wrap;

    & .ResultCard__detail {
      display: inline;
      margin: 0;
      color: $g3;
      margin-right: 1rem;
      word-wrap: break-word;
    }
  }
}

.SearchRoute {
  padding-top: $navbar-height;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.SearchBar {
  flex: 1;
  display: flex;
  max-width: $result-width;

  > div {
    flex: 1;
    display: flex;
  }

  input {
    align-self: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  // Filter show / hide button
  &__button {
    background: $g1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px $g2;
    border-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      background: $g2;
    }
  }
}

.Wrapper {
  display: flex;
  min-height: 100%;
  flex: 1;
}
