@import 'shared';

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
  position: relative;
}

::-webkit-scrollbar-track
{
  position: absolute;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb
{
  background: $blue_light;
  border-radius: 99px;

  &:hover {
    background: $blue;
  }
}

.bottom-margin {
  margin-bottom: 1rem;
}

body {
  background-color: $g0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.Button {
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: inherit;

  &:focus {
    // WARNING: make sure to add focus styling for a11y!
    outline: none;
    color: $blue_dark;
  }

  &:disabled {
    color: $g3;
    border-color: $g3;
    cursor: initial;
  }

  &__close {
    color: $blue;
    font-weight: bold;
    padding: .5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: transparentize(white, .1);
    z-index: 1;
  }

  &__default {
    font-weight: bold;
    color: $blue;
    border-radius: $border-radius;
    padding: .5rem;
    background-color: white;

    &:hover {
      color: $blue_dark
    }

    &:active {
      background-color: whitesmoke;
    }
  }

  &__openGlossary {
    color: $blue;
    font-weight: bold;
    border-radius: $border-radius;
    padding: .5rem;
    position: absolute;
    top: .5rem;
    right: 5rem;
    background-color: transparentize(white, .1);
    z-index: 1;
    &:hover {
      color: $blue_dark;
    }
  }
  
  &__toggle {
  color: $g4;
  position: relative;

    h3 {
      display: inline;
    }

    &:hover {
      color: $blue;
    }

    &:active {
      color: $blue_dark;
    }
  }
}

.DayPickerInput {
  input {
    background-color: $g0 !important;
  }
}

.Downloader {
  display: inline;
  a {
    color: $blue_dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  select {
    color: $blue_dark;
    -webkit-appearance: none;
    outline: none;
    background: none;
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.Filter__item {
  padding: 0rem 1rem;
  margin-bottom: 1rem;

  &__current {
    a {
      max-width: 100%;
    }
  }

  ul {
    overflow-x: hidden;
    padding-bottom: 0;
  }
}

.Filter__Title {
  margin-bottom: .3rem;
  margin-top: 0;
}

.FilterBar {
  position: fixed;
  border-right: $border;
  transition: .2s all;
  padding: 0;
  padding-top: 1rem;
  z-index: 2;
  background-color: white;
  width: $filter-bar-width;
  left: 0;
  top: $navbar-height;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &__visible {
    opacity: 1;
  }

  &__hidden {
    opacity: 0;
    left: -$filter-bar-width;
    visibility: hidden;
  }
}

.Home {
  &__wrapper {
    padding: 1rem;
    padding-top: 0;
    max-width: $result-width;
    margin: auto;
  }

  &__header {
    color: $blue;
  }

  h2 {
    color: $g4;
    margin-bottom: .5rem;
  }

  p {
    margin-top: 0;
    font-size: 1em;
    line-height: 1.5rem;
  }

  a {
    text-decoration: none;
    color: $blue;
  }

  a:hover{
    text-decoration: underline;
  }

  a:visited {
    color: $blue_dark;
  }

  ul {
    padding-left: 1.2rem;

    li {
      margin-bottom: .3rem;
    }
  }
}

.LabelItem {
  margin-bottom: 1rem;
}

.LabelItem__label {
  font-weight: bold;
  font-size: .8rem;

}

.Logo, .NavBar__link {
  font-weight: bold;
  color: $blue;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 0;
  margin-right: 1rem;
}

.NavBar__link {
  @media only screen and (max-width: 450px) {
    display: none;
  }
}

.NavBar__link:hover {
  color: $blue_dark;
}

.NavBar__searchbar {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.Logo {
  color: $blue;
  transition: .5s font-size;
  font-size: 2rem;

  .SearchRoute--search & {
    font-size: 1rem;
  }

  &__first {
    color: $blue_dark;
  }
}

.NavBar {
  border-bottom: $border;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  transition: .5s all;
  height: $navbar-height-big;

  .SearchRoute--search & {
    height: $navbar-height;
  }

  &__bottom {
    display: flex;
    max-width: $result-width;
    flex-direction: column;
  }

  &__top {
    max-width: $result-width;
    display: flex;
    height: 6rem;

    .SearchRoute--search & {
      height: 3rem;
    }
  }

  &__top,
  &__bottom {
    transition: .5s all;
    margin-left: calc(50% - #{$result-width / 2});
  }

  &__vng-logo {
    transition: .5s all;
    margin-left: auto;
    width: 3rem;
    margin-right: .2rem;

    .SearchRoute--search & {
      width: 2rem;
    }
  }
}

.SideDrawer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.SideDrawer__handler {
  background-color: white;
  border-radius: $border-radius;
  width: 1.5rem;
  text-align: center;
  position: absolute;
  left: -0.45rem;
  top: 50%;
  border: solid 1px $blue;
  color: $blue;
  transition: .2s all ease-in-out;
}

.SideDrawer__scroller {
  overflow-y: scroll;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.SideDrawer__resize-handle:hover .SideDrawer__handler,
.SideDrawer__handler:hover {
  background-color: $blue_light;
  border-color: $blue_light;
  color: white;
}

.SideDrawer__resize-handle:active .SideDrawer__handler,
.SideDrawer__handler:active {
  border-color: $blue;
  color: white;
  background-color: $blue;
}


.SideDrawer__wrapper {
  position: fixed;
  border-left: solid 1px $blue;
  flex: 100;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: white;

  &-enter {
    opacity: 0;
    right: -20%;
  }

  &-enter-active {
    opacity: 1;
    right: 0;
    transition: right 200ms ease-out, opacity .2s;
  }

  &-leave {
    opacity: 1;
    right: 0;
  }

  &-leave-active {
    opacity: 0;
    right: -20%;
    transition: right 200ms ease-in-out, opacity .2s;
  }
}

.PDFViewer__button-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;

  &-inner{
    display: inline-block;
    background: white;
    margin: auto;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;

    .Button {
      padding: .5rem;
      color: $blue;

      &:hover {
        color: $blue_dark;
      }

      &:active {
        color: $g3;
      }

      &:disabled {
        color: $g2;
      }
    }
  }
}

.PDFViewer__error {
  padding: 1rem;
}

.PDFViewer__loading {
  position: relative;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s all;
  color: $blue;
  height: 100vh;
}

.PDFViewer__scroller {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.PropertyValue {
  font-size: .9rem;
}

.SideDrawer__resize-handle {
  transition: .2s all;
  z-index: 2;

  &:hover {
    background-color: $blue_light;
  }

  &:active {
    background-color: $blue;
  }
}

.PDFViewer_number-input {
  -webkit-appearance: none;
  -moz-appearance:textfield;
  border: none;
  margin: 0;
  width: 2rem;

  &:-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
  }
}

.Results {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  // overflow-y: scroll;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  transition: .2s all;
  min-height: calc(100vh - #{$navbar-height});
  position: relative;
  padding-bottom: 3rem;
  max-width: calc(#{$result-width} + 2rem);

  &__loader {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  // sort-options selector
  select {
    -webkit-appearance: none;
    padding: 0;
    outline: none;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-right: 1.4rem;
    padding-left: 0.6rem;
    border-radius: $border-radius;
    border: $border;
    background-color: white;
  }
}

.ResultsListWrapper {
  position: relative;
}

.Results__dual-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 100vh;
}

.Results__dual-loader-top {
  position: absolute;
  top: -.5rem;
}

.Results__dual-loader-bottom {
  position: absolute;
  top: 100%;
}

.Results {
  .Results__loader {
    background-color: $g0;
    max-width: 100%;
    width: 7rem;
    display: flex;

    span {
      margin-left: .4rem;
    }
  }
}

.react-pdf__Document {
  border-bottom: solid 1px $g1;
  border-top: solid 1px $g1;
}

// Fix overflow of annotationlayer
.react-pdf__Page {
  overflow: hidden;
}

.Resource {
  padding: 1rem;
  flex: 1;
  word-break: break-word;

  h1 {
    margin: 0;
    font-size: 1.4rem;;
    color: $blue;
  }
}

.Resource__details {
  margin-bottom: 1rem;
}

.Box {
  // border: solid 1px $blue_light;
  color: $blue_dark;
  font-weight: bold;
  display: block;
  // padding: .2rem;
  border-radius: $border-radius;
  font-size: .9rem;

  &:hover {
    text-decoration: underline;
  }
}

mark {
  position: relative;
  z-index: 1;
  // box-shadow: 0px 0 2px red;
  background-color: transparent;
  color: inherit;

  &:before{
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: .2rem;
    display: block;
    z-index: -2;
    position: absolute;
    content: "";
    background-color: $blue-mark;
  }
}

.ResultCard {
  background-color: white;
  max-width: $result-width;
  margin-bottom: 1rem;
  padding: .5rem 1rem 0;
  border-radius: $border-radius;
  border: $border;
  word-break: break-word;

  @media only screen and (max-width: 530px) {
    margin-left: -1rem;
    margin-right: -1rem;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: .2rem;
    font-size: .9rem;
  }

  button h2 {
    cursor: pointer;

    &:hover {
      color: $blue_dark;
    }

    &:active {
      color: $blue;
    }
  }

  &--active {
    border-color: $blue;

    h2 {
      color: $blue !important;
    }
  }

  &__highlights {
    margin-bottom: rem;
  }

  &__highlight {
    margin-bottom: .5rem;
  }

  &__details{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .3rem;

    & .ResultCard__detail {
      display: inline;
      margin: 0;
      color: $g3;
      margin-right: 1rem;
      word-wrap: break-word;
    }
  }
}

.SearchRoute {
  transition: .5s padding-top;
  padding-top: $navbar-height-big;

  &.SearchRoute--search {
    padding-top: $navbar-height;
  }
}

.SearchBar {
  flex: 1;
  display: flex;
  max-width: $result-width;

  > div {
    flex: 1;
    display: flex;
  }

  input {
    -webkit-appearance: none;
    align-self: center;
    border-radius: $border-radius;
    background-color: white;
    transition: border-color .2s;

    &:hover {
      border-color: $g3;
    }
  }

  // Filter show / hide button
  &__button {
    background: $g0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: $border;
    border-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      background: $g1;
    }

    &:active {
      background: $g2;
    }
  }
  // When the filter button is hidden, round the corners
  .SearchRoute--search & input{
    border-radius: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}

.SearchBar__wrapper {
  flex: 1;
}

.Text-Page {
  white-space: pre-line;
}

.Wrapper {
  position: relative;
}

// Make
@media only screen and (min-width: 560px) {
  .Home__wrapper {
    padding: 0;
  }

  .SearchRoute--search {
    .NavBar__top,
    .NavBar__bottom {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .SearchRoute--show-filters .Results {
    margin-left: $filter-bar-width;
  }
}

@media only screen and (max-width: 400px) {
  .Logo {
    font-size: 1.5rem
  }
}

@media only screen and (max-width: 700px) {
  .NavBar__top,
  .NavBar__bottom {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

// Add some major padding for big screens
@media only screen and (min-width: 1800px) {
  .SearchRoute--search {
    .NavBar__top,
    .NavBar__bottom {
      margin-left: $big-screen-padding;
    }
  }

  .Results {
    margin-left: $big-screen-padding - 1rem;
  }
}

// Detect touch devices
@media (pointer:coarse) {
  .PDFViewer__button-bar {
    transform: scale(1.2);
  }

  .SideDrawer__handler {
    transform: scale(1.4);
  }
}


.Glossarium {
  width: 400px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;

  background-color: white;
  color: black;
  text-align: center;
  border-left: 1px solid $g3;

  padding-top: 5vh;

  padding-left: 10px;
  padding-right: 10px;
}

.glossarium-container {
  position: relative;
  height: 100%;
}

.glossarium-container > .selection-container {
  border: 1px solid $g3;
  padding: 1em;
  height: 10%;
}


.glossarium-container > .selection-container > h1 {
  color: $blue;
  font-size: 1.5em;
  margin: 0;
}

.glossarium-container > .selection-container > .selected-text {
  margin-right: 5px;
  width: 70%;
}

.glossarium-container > .selection-container > form > .evaluate-selection-button {
  color: $blue;
  background-color: #f8f8f8;
  font-weight: bold;
  border-radius: $border-radius;
  border-color: #279DDD;
  border: solid 1px;
  padding: .3rem;
  // background-color: transparentize(white, .1);
  z-index: 1;
  &:hover {
    color: $blue_dark;
  }
}

.glossarium-container > .definition-container {
  border: 1px solid red;
  height: 30%;
  padding: 10px;
}


.glossarium-container > .definition-container > .definition-title {
  // border: 1px dashed black;
  padding: 3px;
  font-size: 1.2em;
}


.glossarium-container > .definition-container > .definition {
  // border: 1px dashed black;
  overflow: hidden;
  position: relative;
}

.glossarium-container > .definition-container > .definition > p {
  display: inline-block;
  width: 100%;
}


.glossarium-container > .linked-data-container {
  border: 1px solid blue;
  height: 60%;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.glossarium-container > .linked-data-container > .wiki-summary {
  border: 1px dashed black;
  // height: 25%;
  min-height: 50%;
  max-height: 75%;
  overflow: hidden;
  position: relative;
}

.glossarium-container > .linked-data-container > .relevant-link {
  border: 1px dashed black;
  height: 5%;
}

.glossarium-container > .linked-data-container > .descriptive-image {
  border: 1px dashed black;
  padding: 5px;
  height: 20%;
  width: 100%;
}

.wiki-image {
  max-height: 100%;
  max-width: 300px;
}

.read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  font-weight: bold;

  background-image: linear-gradient(to bottom, transparent, white);
}

// .Glossarium2 {
//   width: 400px;
//   height: 100%;
//   position: absolute;
//   right: 0;
//   top: 0;

//   // Get some visual feedback
//   background-color: rgba(0,0,0, 0.9);
//   color: white;
//   text-align: center;
//   padding-top: 10vh;
// }


.Glossarium2 > .container {
  margin: 15px;
  flex: 1 1 150px;
  border: 1px solid white;
  height: 60%;
  max-height: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px;

  &__selectedText {
    height: 10%;
    margin: 15px;
    border: 1px solid white;
    overflow: hidden;
  }
}


