@import 'shared';

.FilterBar {
  padding: 1rem;
  width: 26rem;
  border-right: solid 1px $g2;
}

.Logo {
  font-weight: bold;
  color: $blue;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;

  &__first {
    color: $blue_dark;
  }
}

.NavBar {
  display: flex;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.24);
  z-index: 1;
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.ResultsBar {
  background-color: $g1;
  padding-left: 1rem;
  padding-top: 1rem;
  overflow-y: scroll;
  display: flex;
  flex: 1;
}

.Results {
  flex-basis: $result-width;
}

.Widgets {
  padding: 1rem;
  flex: 0;
  flex-basis: 20rem;
}

.WidgetsBar {
  flex: 1;
  flex-basis: (20rem);
}

.ResourceBar {
  position: fixed;
  border-left: solid 1px $g2;
  flex: 100;
  max-width: 70vw;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: white;
}

.ResultCard {
  background-color: white;
  max-width: $result-width;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: solid 1px $g2;

  h2 {
    margin-top: 0;
    margin-bottom: .2rem;
    font-size: 1rem;
  }

  &__details{
    display: flex;
    flex-wrap: wrap;

    & .ResultCard__detail {
      display: inline;
      margin: 0;
      color: $g3;
      margin-right: 1rem;
      word-wrap: break-word;
    }
  }
}

.SearchRoute {
  padding-top: $navbar-height;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.SearchBar {
  border-radius: 5px;
}

.Wrapper {
  display: flex;
  min-height: 100%;
  flex: 1;
}
