.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Wrapper {
  display: flex;
  height: 100%;
  flex: 1;
}

.LeftBar {
  width: 26rem;
}

.RightBar {
  background-color: #efefef;
  flex: 1;
}
