$g0: #f8f8f8;
$g1: #efefef;
$g2: #d5d5d5;
$g3: #989898;
$g4: #2F3936;
$black: #000000;
$blue: #279DDD;
$blue-dark: #054279;
$blue-light: #A4D2EB;
$border-radius: 99px;

$navbar-height: 6.7rem;
$navbar-height-big: 10.5rem;
$result-width: 34rem;
$filter-bar-width: 18rem;


$big-screen-padding: 19rem;
