$g0: #f8f8f8;
$g1: #efefef;
$g2: #d5d5d5;
$g3: #989898;
$g4: #2f3936;
$black: #000000;
$blue: #279ddd;
$blue-dark: #054279;
$blue-light: #a4d2eb;
$grey: #808080;
$mark: $blue;

$border-radius: 5px;
$border: solid 1px $g2;

$navbar-height: 6.7rem;
$navbar-height-big: 13rem;
$result-width: 34rem;
$filter-bar-width: 18rem;

$big-screen-padding: 19rem;
